/** Header

<ul class="client-list">
  <li class="client-list__item">
    <a href="#"><img src="..." class="client-list__logo" alt="" title="..."></a>
  </li>
</ul>
*/

.client-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;

    .client-list__item {
        display: inline-block;
        margin: 0px 2%;
        padding: 0px;
        width: 29%;

        @include small-only() {
            width: 96%;
        }
    }

    img {
        max-width: 100%;
        vertical-align: middle;
        display: block;
        margin: 0 auto;
        height: auto;
        max-height: 100px;
        background-color: #626262;
        -webkit-transition: background-color 0.5s ease-out;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;
    }
    img:hover {
        background-color: #333;
    }
}
