/** Header

<footer>
	some text
</footer>
*/

$footer-background: #626262 !default;
$footer-color: #F1F1F1 !default;

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 26px 0 42px 0;
	margin-top: 40px;
	z-index: -10;

	background-color: $footer-background;
	/* background: radial-gradient(ellipse at top center, rgba(19,19,19,1) 0%, rgba(98,98,98,1) 70%); */
	background: linear-gradient(180deg, #333 0%, $footer-background 45%);


	color: $footer-color;

	div, p, .footer-extras, .footer-links {
		font-size: $fontSmall;
	}

	.banner {
		text-align: center;
		margin: 32px 0;
		padding: 0;
		letter-spacing: 3px;
		font-weight: 400;
		font-size: 56px;
		text-shadow: rgba(0,0,0,1) 6px 6px 16px;
	}
}

.footer-extras,
.footer-links {
	padding: 15px 0;
	display: inline-block;
	vertical-align: top;

	@include wide {
		padding: 24px 0;
	}
}

.footer-links {
	list-style: none;
	margin: 0;
	border-right: 1px solid rgba(255,255,255,0.3);
	margin-left: -1px;
	text-align: right;
	width: 35%;

	li {
		padding-right: 10px;
	}

	a {
		color: #FFF;
		font-size: $fontSmall;
		text-decoration: none;
	}

	a:hover:before {
		content: "# ";
	}

	@include wide {
		width: 50%;

		li {
			padding-right: 36px;
		}
	}
}

.footer-extras {
	width: 60%;

	p {
		margin: 0;
		padding: 0 0 0 10px;
		font-size: $fontSmall;
	}

	a {
		text-decoration: none;
		font-weight: 500;
		color: white;
	}

	a:hover {
		color: $colorGrayDark;
		text-shadow: rgba(255, 255, 255, 0.6) 0 0 16px;
	}

	@include wide {
		width: 50%;

		p {
			padding: 0 0 6px 36px;
		}
	}
}
