/** Header

<header>
	<div class="container">
		<h1>This is H1 Title</h1>
	</div>
</header>
 */

$header-background: #D2D2D2 !default;
$header-color: #FFFFFF !default;

header {
	     box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-image: url(/static/styles/gfx/bg.jpg);
	background-size: cover;
	color: $header-color;
}

header .container {
	padding-bottom: 25%;
	position: relative;
}

header h1 {
	bottom: 12%;
	font-size: $fontLarge;
	margin: 0;
	position: absolute;
	text-align: center;

	@include medium {
		bottom: 15%;
		font-size: $fontXLarge;
		text-align: left;
	}

	@include wide {
		bottom: 25%;
		font-size: $fontXXLarge;
		text-align: left;
	}
}

.main-nav {
	background-color: $colorGrayDark;
	color: #FFFFFF;
	font-family: $fontHighlight;
	padding-left: 4%;
	padding-right: 4%;

	a {
		color: #FFFFFF;
		font-size: $fontBase;
		text-decoration: none;

		font-weight: 300;

		@include medium {
			font-size: $fontMedium;
		}
	}

	a:hover {
		text-decoration: underline;
	}

	> ul {
		margin: 0 auto;
		max-width: $wideContainer;
		padding: 0;
	}
}

.main-nav__list li {
	padding-bottom: 2%;
	padding-right: 25px;
	padding-top: 2%;

	@include wide {
		padding-right: 20px;
	}
}

.list--inline {

	li {
		display: inline-block;
		list-style: none;
	}
}
