/** Header

<header>
	<div class="container">
		<h1>This is H1 Title</h1>
	</div>
</header>
 */

$header-background: #D2D2D2 !default;
$header-color: #FFFFFF !default;

header {
	background-image: url(/static/styles/gfx/bg.jpg);
	background-size: cover;
	color: $header-color;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
}

header .container {
	position: relative;
	padding-bottom: 25%;
}

header h1 {
	position: absolute;
	margin: 0;
	bottom: 12%;
	font-size: $fontLarge;
	text-align: center;

	@include medium {
		font-size: $fontXLarge;
		bottom: 15%;
		text-align: left;
	}

	@include wide {
		font-size: $fontXXLarge;
		bottom: 25%;
		text-align: left;
	}
}

.main-nav {
	background-color: $colorGrayDark;
	font-family: $fontHighlight;
	color: #FFFFFF;
	padding-left: 4%;
	padding-right: 4%;

	a {
		color: #FFFFFF;
		text-decoration: none;
		font-size: $fontBase;

		font-weight: 300;

		@include medium {
			font-size: $fontMedium;
		}
	}

	a:hover {
		text-decoration: underline;
	}
}

.main-nav > ul {
	margin: 0 auto;
	padding: 0;
	max-width: $wideContainer;
}

.main-nav__list li {
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 13px;

	@include wide {
		padding-right: 20px;
	}
}

.list--inline {

}

.list--inline li {
	display: inline-block;
	list-style: none;
}
