<lable>This is my balance</label><input id="balance" />
<a class="btn btn--small btn--positive" id="{{= it.ids.balance_first }}">on {{= it.date_first }}</a>
, or <a class="btn btn--small btn--positive" id="{{= it.ids.balance_last }}">on {{= it.date_last }}</a>
