<ul class="b2c__info-list">
	<li>You have <b>{{= it.entries_count }} entires</b> in your statement.</li>
	<li>First entry on <b>{{= it.date_first }}</b> with balance <b>{{= it.balance_first}}</b>.</li>
	<li>Final entry on <b>{{= it.date_last }}</b> with balance <b>{{= it.balance_last }}</b>.</li>
</ul>

<p>
If the above informations are correct then
 <a href="#" id="{{= it.ids.download }}">download updated statement</a> and
 upload to Crunch.
</p>
