section, header {
	padding-left: 4%;
	padding-right: 4%;
}

section {
	background-color: #FFFFFF;
	margin-bottom: 240px;
	padding-bottom: 10px;
	padding-top: 1px;
	@include wide {
		margin-bottom: 339px;
	}
}

section:last-of-type {
	box-shadow: 0 0px 40px 0px black;
}

section, nav, header {
	z-index: 10;
}

/**

*/
.container {
	max-width: $wideContainer;
	margin: auto;
}

.content {
	h4 {
		margin: 0;
	}
	h1, h2, h3, h4, h5, h6,
	p, &>ol, &>ul {
		margin-right: 0%;
	}

	@include wide {
		h1, h2, h3, h4, h5, h6,
		p, &>ol, &>ul {
			margin-right: 25%;
		}
	}
}
