section, header, footer {
	padding-left: 4%;
	padding-right: 4%;
}

/**

*/
.container {
	max-width: $wideContainer;
	margin: auto;
}

.content {
	h4 {
		margin: 0;
	}
	h1, h2, h3, h4, h5, h6,
	p, &>ol, &>ul {
		margin-right: 0%;
	}

	@include wide {
		h1, h2, h3, h4, h5, h6,
		p, &>ol, &>ul {
			margin-right: 25%;
		}
	}

}
