section, header {
	padding-left: 4%;
	padding-right: 4%;
}

section {
	background-color: #FFFFFF;
	margin-bottom: 350px;
	padding-bottom: 10px
}

section, nav, header {
	z-index: 10;
}

/**

*/
.container {
	max-width: $wideContainer;
	margin: auto;
}

.content {
	h4 {
		margin: 0;
	}
	h1, h2, h3, h4, h5, h6,
	p, &>ol, &>ul {
		margin-right: 0%;
	}

	@include wide {
		h1, h2, h3, h4, h5, h6,
		p, &>ol, &>ul {
			margin-right: 25%;
		}
	}
}
